[Unit]
Description=LibreTime Celery Service
After=network.target

[Service]
Environment=RMQ_CONFIG_FILE=/etc/airtime/airtime.conf
WorkingDirectory=/srv/airtime
ExecStart=/usr/local/bin/celery \
    --app libretime_worker.tasks:celery \
    --time-limit=1800
    --concurrency=1
    --config=config \
    --loglevel INFO \
    worker
Restart=always
Group=celery
User=celery

[Install]
WantedBy=multi-user.target
